<div class="f-sec1">

</div>


<footer>
    <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-lg-5">
                    <p class="cpy">Copyright © 2021. All Rights Reserved.</p>
                </div>
                <div class="col-xs-6 col-lg-7">
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">FEATURES</a></li>
                        <li><a href="">TERMS</a></li>
                        <li><a href="">PRIVACY</a></li>
                        <li><a href="">CONTACT US</a></li>
                    </ul>
                    <ul>
                            <li><a href=""><img src="../assets/fb.svg" alt="Filed.com"></a></li>
                            <li><a href=""><img src="../assets/instagram.svg" alt="Filed.com"></a></li>
                            <li><a href=""> <img src="../assets/twitter.svg" alt="Filed.com"></a></li>
                        </ul>
                </div>
            </div>
    </div>
</footer>