<div class="f-banner posrel">
        <div class="container-fluid"></div>
        <div class="text-center theme">
                <h3 class="d1">Our Offer: Intelligent Automation. Real-time Insights. Unparalleled Results.</h3>
                <h3 class="d2">Our Offer: Intelligent <br> Automation. Real-time <br> Insights. Unparalleled Results.</h3>
        </div>
</div>


<div class="f-banner2 posrel">
                <div class="container-fluid">

                                <img class="d2 mobile-banner" src="../assets/mobile-banner.svg" alt="filed-logo">
                        <div class="row">
                                        <div class="col-xs-12 col-lg-6">
                                                        <h4 class="f500">The <span class="fblue">Benefits of</span> <span class="break-line">  using Filed</span> </h4>
                                                </div>

                        <div class="col-xs-12 col-lg-6">
                                        <ul>
                                                <li><img src="../assets/banner2check.svg" alt="Filed.com"> 
                                                        <span>Ability to scale using Dexter, our AI-powered marketing genius.</span> </li>
                                                <li> <img src="../assets/banner2check.svg" alt="Filed.com">
                                                        <span>
                                                                        Client Success Manager who will optimize your Facebook ad campaigns and focus on driving the best possible results for you.
                                                        </span></li>
                                                <li> <img src="../assets/banner2check.svg" alt="Filed.com">This is a limited time offer only.</li>
                                        </ul>
                                         
                                        </div>
                        </div>
                </div>
        </div>


        <div class="f-banner3 posrel">
        <div class="container-fluid">
        
        <div class="row">
                <div class="col-xs-12 col-lg-4">                                      
                <div class="block1">
                        <div class="fleft">
                                <img src="../assets/quote.svg" alt="Filed.com">
                        </div>
                        <div class="fright">
                                <p>"It surpassed our <br>expectations"</p>                                                          
                        </div>
                        <div class="clearfix"></div>
                        <p class="text-middle">"Filed has completely surpassed our <br>expectations. I will refer everyone I know. Filed <br> is worth much more than I paid."</p>
                        <div class="fleft">
                                       <div class="profile-image"></div>
                        </div>
                        <div class="fright">
                                        <span class="text1">Tania Y.</span> 
                                        <span  class="text2">Flexi Content @Hello</span>                                                          
                        </div>                                      
                </div>                                    
                </div>

                <div class="col-xs-12 col-lg-4">                                      
                                <div class="block1 b2">
                                        <div class="fleft">
                                                <img src="../assets/quote.svg" alt="Filed.com">
                                        </div>
                                        <div class="fright">
                                                <p>"The essential <br> marketing tool"</p>                                                          
                                        </div>
                                        <div class="clearfix"></div>
                                        <p class="text-middle">"Filed is the most valuable business resource <br> we have EVER purchased. I was amazed at the <br> quality of filed. We were treated like royalty."</p>
                                        <div class="fleft">
                                                       <div class="profile-image"></div>
                                        </div>
                                        <div class="fright">
                                                        <span class="text1">Jack Francis</span> 
                                                        <span  class="text2">Manager @ Accidents Direct</span>                                                          
                                        </div>                                      
                                </div>                                    
                                </div>


                                <div class="col-xs-12 col-lg-4">                                      
                                                <div class="block1 b3">
                                                        <div class="fleft">
                                                                <img src="../assets/quote.svg" alt="Filed.com">
                                                        </div>
                                                        <div class="fright">
                                                                <p>"Your company <br> is truly upstanding”</p>                                                          
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <p class="text-middle">"The service was excellent. After using filed my <br> business skyrocketed! It really saves me time <br> and effort."</p>
                                                        <div class="fleft">
                                                                       <div class="profile-image"></div>
                                                        </div>
                                                        <div class="fright">
                                                                        <span class="text1">Dawna N.</span> 
                                                                        <span  class="text2"> Editor @ Museum of Typography</span>                                                          
                                                        </div>                                      
                                                </div>                                    
                                                </div>
        </div>  

       </div>
       </div>